        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;

        }


        body {
            display: flex;
            justify-content: center;
            background-image: url(background.jpg) ;
           background-size: cover;
           margin-top: 5vh;
     

            
        }
 

        .box1 {
            display: flex;
            justify-content: center;
        }


        figure img  {
                    width: 250px;
              
                    }

        nav {
              margin-top: 20px; 
              background-color: green;
              margin: 90px;
              height: 30px;
              display: flex;
             justify-content: space-around;
          
           }

        button {
            margin-top: 5px;
        }

      

          section {
            width: 1200px;
            height: 800px;
            border: solid 1px black;
       
        }



       